<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            Welcome <%= @username %>
        </div>
    </div>
</div>

    <!-- begin row one -->

<div class="row">
    <div class="col-xs-3">
        <div class = "panel panel-default">
          <div class="panel-body">
            <h1>Profile</h1>
            <p>1</p> 
          </div>
        </div>
    </div>

   
    <div class="col-xs-6">
         <% for @p in @posts %>
        <div class = "panel panel-default">
          <div class="panel-body">
            <p><%= @p.content %></p> 
          </div>
        </div>
            <% end %>

    </div>

    <div class="col-xs-3">
        <div class = "panel panel-default">
            <div class="panel-body">
                <p>Who to follow</p> 
            </div>
        </div>
            <div class = "panel panel-default">
                <div class="panel-body">
                <p>Trends</p> 
                </div>
            </div>
        </div>

    </div> 

<!-- begin row two -->
