/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 
@import "bootstrap-sprockets";
@import "bootstrap";


body {
    background-color: rgba(212, 216, 212, 0.25);
}
.navbar {
    background-color: white;
}

.navbar-brand {
    position: absolute;
    left: 50%;
}

.dropdown-menu li p {
    
    margin: 0 0 0 20px;
}

.post-panel {
    margin: -1px 0 0 0;
}

.post-content {
    margin: 15px 0 0 15px;
    text-align: left;
}
.post-title {
 margin: 0 0 0 15px;

}

.post-owner {
    color: black;
    font-weight: bold;
    
}
.date-posted{
    opacity: 0.65;
    
}
post-links {
    text-align: left;
}
.g1 {
    margin: 5px 50px 0 50px;
    opacity: 0.60;
    font-size: 110%;
}
.rimg {
    border-radius:25px;
    border: 5px;
    border-color: grey;
}
.rimg1 {
    border-radius:50%;
    border: #fff 6px solid;
    
}

.top {
    margin-left: 15%;
    margin-right: 15%;
}

.about-panel {
    color:grey;
    font-size:90%;
}
.panel-do {
    background-image: url("/DO-Logo.png");
    background-size: cover;
        background-position: center; 

        background-repeat:no-repeat;
        height: 108px;
        width: 288;
        margin: -15px;

}
.zero-margin {
   padding: 0 !important;
   margin: 0 !important;
    height:80px;
    }
    
.zero-margin img {
        height: 40px;
        width: 40px;
}

.post-form-panel {
    margin-bottom: -21px;
}
.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}
.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}
.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}
.panel-footer {
    background-color: white;
}
.profile-banner {
    width: 100%;
    height: 300px;
    margin-top: -21px;
}

.jumbotron {
    background-image: url("/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-login {
    margin-top: 65px;
}